@font-face {
  font-family: "Permanent Marker";
  font-weight: 400;
  src: local("Permanent Marker"),
    url("https://fonts.googleapis.com/css?family=Permanent+Marker");
}

@font-face {
  font-family: "Bahiana";
  font-weight: 400;
  src: local("Bahiana"), url("https://fonts.googleapis.com/css?family=Bahiana");
}

@font-face {
  font-family: "Libre Barcode 39 Text";
  font-weight: 400;
  src: local("Libre Barcode 39 Text"),
     ("https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text");
}

@font-face {
  font-family: "Muli";
  font-weight: 400;
  src: local("Muli"), url("https://fonts.googleapis.com/css?family=Muli");
}

@font-face {
  font-family: "Lora", serif;
  font-weight: 400;
  src: local("Lora"), url("https://fonts.googleapis.com/css?family=Lora");
}

* {
  color: rgb(77, 77, 77);
  font-family: "Muli", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: 300;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.nav-to-top {
  position: fixed;
  right: 2rem;
  bottom: 1.5rem;
}

.wrapper {
  font-weight: 400;
  font-size: 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.9;
  z-index: 1;
  margin-top: 1.5rem;
}

.wrapper:hover {
  opacity: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.wrapper-logo {
  width: fit-content;
  margin: 0rem 0 0 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
}

.header {
  text-align: center;
  background: url(../images/backgroundB.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin-top: -0.5rem;
  padding-top: 120px;
  padding-bottom: 150px;
  border-bottom-left-radius: 0.77rem;
  border-bottom-right-radius: 0.77rem;
  opacity: 0.77;
}

.about {
  margin: 3rem 0;
}

.portfolio {
  text-align: center;
  margin: 6rem 0;
  margin-top: 9rem;
  padding: 3rem 0;
  background: url(../images/background78.jpg) repeat-y;
  background-size: 100%;
  border-radius: 0;
}

.portfolio-monitor {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
}

.portfolio-group-title {
  font-family: "Lora";
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  margin: 1rem 0;
}

.portfolio-live {
  text-transform: uppercase;
  font-size: 1rem;
  color: rgb(211, 0, 0);
  width: fit-content;
  height: fit-content;
  border: 0.1rem solid rgb(211, 0, 0);
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 0.2rem 3rem;
  text-decoration: none;
}

.portfolio-live:hover {
  color: rgb(250, 250, 250);
  background-color: rgb(211, 0, 0);
  border: 0.1rem solid rgb(211, 0, 0);
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

.portfolio-code {
  text-transform: uppercase;
  font-size: 1rem;
  color: rgb(211, 0, 0);
  width: fit-content;
  height: fit-content;
  border: 0.1rem solid rgb(211, 0, 0);
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-left: 0.3rem;
  padding: 0.2rem 3rem;
  text-decoration: none;
}

.portfolio-code:hover {
  color: rgb(250, 250, 250);
  background-color: rgb(211, 0, 0);
  border: 0.1rem solid rgb(211, 0, 0);
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

.portfolio-description {
  width: 350px;
}

.passions {
  font-size: 1.5rem;
  display: flex;
  width: 28rem;
  margin: 0 auto;
}

.passions-item {
  color: rgb(0, 0, 0);
  padding: 0 1rem;
}

.passions-item:hover {
  color: rgb(211, 0, 0);
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

.resume {
  margin: 6rem 0;
  padding: 3rem 0;
  background: url(../images/background78.jpg) repeat-y;
  background-size: 100%;
  border-radius: 0;
}

.resume-section {
  margin-top: 5rem;
}

.resume-education-list {
  display: flex;
  margin: 0 20%;
  margin-bottom: 1rem;
}

.resume-education-list-date {
  min-width: 15rem;
}

.resume-education-list-name {
  color: rgb(211, 0, 0);
}

.resume-skills-group {
  text-align: center;
}

.resume-skills-logo {
  height: 70px;
}
.resume-work-group {
  display: flex;
  margin: 0 15%;
  margin-top: 2rem;
}

.resume-work-date {
  min-width: 15rem;
}

.resume-work-name {
  color: rgb(211, 0, 0);
}

.resume-work-text-list ul {
  margin: 0;
  padding: 1rem;
}

.resume-volunteer-group {
  display: flex;
  margin: 0 15%;
  margin-top: 2rem;
}

.resume-volunteer-date {
  min-width: 15rem;
}

.resume-volunteer-name {
  color: rgb(211, 0, 0);
}

.resume-volunteer-text-list ul {
  margin: 0;
  padding: 1rem;
}

.contact {
  font-size: 1.2rem;
  background-color: rgb(50, 50, 50);
  background: url(../images/backgroundB.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: rgb(250, 250, 250);
  margin: 0;
  margin-bottom: 7rem;
  padding: 150px;
  border-radius: 0.77rem;
}

.contact-items {
  margin: 0;
}

.footer {
  text-align: center;
}

#to-the-top {
  font-size: 1.8rem;
  font-family: "Libre Barcode 39 Text", cursive;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(211, 0, 0);
  z-index: 1;
}

#to-the-top:hover {
  color: rgb(253, 0, 109);
  transition: 0.5s;
  -webkit-transition: 0.5;
}

#nav {
  background-color: transparent;
  width: 55%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 0 0 0.5rem 0;
  border-radius: 0.3rem;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

#nav li a {
  color: rgb(0, 0, 0);
  font-family: "Libre Barcode 39 Text", cursive;
  text-decoration: none;
}

#header-title {
  font-family: "Permanent Marker";
  font-weight: 300;
  font-size: 10rem;
  color: rgb(211, 0, 0);
  padding-top: 0;
  text-align: center;
}

#header-title:nth-child(1) {
  font-family: "Permanent Marker";
  font-weight: 300;
  font-size: 10rem;
  margin: 0;
  color: rgb(211, 0, 0);
  text-align: center;
  text-decoration: none;
}

#header-title:nth-child(1):hover {
  color: rgb(253, 0, 109);
  transition: 1s;
  -webkit-transition: 1s;
}

#header-title-dev {
  text-align: center;
  justify-content: center;
}

#back-end-dev-text {
  font-weight: 100;
  text-transform: uppercase;
  width: 23rem;
  color: rgb(250, 250, 250);
  background-color: rgb(50, 50, 50);
  border: 0.1rem solid rgb(50, 50, 50);
  border-radius: 0.3rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
}

#about-text {
  font-family: "Lora";
  font-size: 2rem;
  color: rgb(0, 0, 0);
  width: fit-content;
  margin: auto;
  border-bottom: 0.1rem dashed rgb(211, 0, 0);
  text-transform: uppercase;
}

#about-introduce {
  font-size: 1.1rem;
  margin: 1rem 20%;
  margin-top: 3rem;
}

#theIronYard {
  color: rgb(211, 0, 0);
  font-weight: 800;
  text-decoration: none;
}

#theIronYard:hover {
  color: rgb(250, 0, 89);
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

#about-contact {
  text-align: center;
  margin-top: 1.5rem;
}

#about-contact-button {
  font-size: 1rem;
  color: rgb(250, 250, 250);
  background-color: rgb(211, 0, 0);
  width: fit-content;
  border: 0.1rem solid rgb(211, 0, 0);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  text-decoration: none;
}

#about-contact-button:hover {
  color: rgb(211, 0, 0);
  background-color: rgb(250, 250, 250);
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

#portfolio-text {
  font-family: "Lora";
  font-size: 2rem;
  color: rgb(0, 0, 0);
  width: fit-content;
  margin: auto;
  border-bottom: 0.1rem dashed rgb(211, 0, 0);
  text-transform: uppercase;
}

#portfolio-laptop {
  background: url(../images/screen5.png) no-repeat 50px;
  background-position: 3rem 1.15rem;
  background-size: 235px;
}

#portfolio-laptop0 {
  background: url(../images/screen3.png) no-repeat 50px;
  background-position: 3.15rem 1.1rem;
  background-size: 230px;
}

#portfolio-laptop1 {
  background: url(../images/screen2.png) no-repeat 50px;
  background-position: 3.15rem 1.1rem;
  background-size: 230px;
}

#portfolio-laptop2 {
  background: url(../images/screen0.png) no-repeat 50px;
  background-position: 3.15rem 1.1rem;
  background-size: 230px;
}

#portfolio-laptop3 {
  background: url(../images/screen4.png) no-repeat 50px;
  background-position: 3.15rem 1.1rem;
  background-size: 230px;
}

#passion-items-music {
  border-right: 0.1rem solid rgb(50, 50, 50);
}

#passion-items-drawing {
  border-right: 0.1rem solid rgb(50, 50, 50);
}

#resume-text {
  font-family: "Lora";
  font-size: 2rem;
  color: rgb(0, 0, 0);
  width: fit-content;
  margin: auto;
  border-bottom: 0.1rem dashed rgb(211, 0, 0);
  text-transform: uppercase;
}

#resume-pdf {
  text-align: center;
}

#resume-pdf-text {
  color: rgb(250, 250, 250);
  background-color: rgb(211, 0, 0);
  border: 0.1rem solid rgb(211, 0, 0);
  border-radius: 0.4rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#resume-pdf-text:hover {
  color: rgb(211, 0, 0);
  background-color: transparent;
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

#resume-education-text {
  font-family: "Lora";
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  margin: 3rem 0;
  text-transform: uppercase;
  text-align: center;
}

#resume-skills-text {
  font-family: "Lora";
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  margin: 3rem 0;
  text-transform: uppercase;
  text-align: center;
}

#resume-skills-logo-group-1 {
  margin-top: 1.5rem;
}

#resume-skills-logo-group-2 {
  margin-top: 0.5rem;
}

#resume-work-text {
  font-family: "Lora";
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  margin: 3rem 0;
  text-transform: uppercase;
  text-align: center;
}

#resume-volunteer-text {
  font-family: "Lora";
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  margin: 3rem 0;
  text-transform: uppercase;
  text-align: center;
}

#contact-text {
  font-family: "Lora";
  font-size: 2rem;
  color: rgb(250, 250, 250);
  width: fit-content;
  margin: 0 auto;
  border-bottom: 0.1rem solid rgb(211, 0, 0);
}

#contact-email {
  width: fit-content;
  margin: 0 auto;
}

#contact-email-link {
  color: rgb(250, 250, 250);
  margin-bottom: 1rem;
  text-decoration: none;
}

#contact-email-link:hover {
  color: rgb(72, 228, 250);
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

#contact-webApp {
  width: fit-content;
  margin: 0 auto;
}

#contact-webApp-icon {
  color: rgb(250, 250, 250);
}

#contact-webApp-icon:first-child {
  margin-right: 0.3rem;
}

#contact-webApp-icon:nth-child(1) {
  margin-right: 0.3rem;
}

#contact-webApp-icon:nth-child(2) {
  margin-right: 0.3rem;
}

#contact-webApp-icon:hover {
  color: rgb(72, 228, 250);
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

#instagram {
  color: rgb(0, 0, 0);
  font-family: "Bahiana";
  text-transform: none;
  text-decoration: none;
}

#instagram:hover {
  color: rgb(253, 0, 109);
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

@media (min-width: 1500px) {
  .resume-section {
    margin: 0 23rem;
  }

  #about-introduce {
    margin: 1rem 28%;
    margin-top: 3rem;
  }

  #about-contact-button {
    margin: 1rem 30%;
  }
}

@media (max-width: 900px) {
  #nav {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  .wrapper-logo {
    margin: auto;
    left: 15px;
    top: 50px;
  }

  .wrapper-logo img {
    width: 50px;
  }

  .header {
    background-attachment: local;
  }

  .portfolio-description {
    width: 95%;
  }

  .portfolio-live-code-div {
  }

  .portflio-live {
    margin-bottom: 1rem;
  }

  .img {
    width: 100%;
  }

  .contact {
    background-attachment: local;
  }

  #nav {
    width: 90%;
  }

  #about-introduce {
    margin: 1rem 10%;
  }

  #about-contact-button {
    margin: 0 10%;
  }
}

@media (max-width: 550px) {
  .wrapper {
    opacity: 1;
  }

  .portfolio-group {
    margin: auto;
  }

  .portfolio-monitor {
    display: flex;
    flex-wrap: wrap;
  }

  .passions {
    font-size: 0.7rem;
    width: fit-content;
    margin: auto;
  }

  .resume {
    margin-bottom: 0;
  }

  .resume-education-list {
    height: fit-content;
    width: fit-content;
    margin: 3rem auto;
  }

  .resume-education-list {
    flex-wrap: wrap;
    text-align: center;
    margin: 0 1rem;
  }

  .resume-education-list-date {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .resume-education-list-name {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .resume-work-group {
    flex-wrap: wrap;
    text-align: center;
    margin: 0 1rem;
  }

  .resume-work-date {
    height: fit-content;
    width: fit-content;
    margin: 3rem auto;
    margin-bottom: 1rem;
  }

  .resume-work-list li {
    margin-bottom: 1rem;
    text-align: left;
  }

  .resume-volunteer-group {
    flex-wrap: wrap;
    text-align: center;
    margin: 0 1rem;
  }

  .resume-volunteer-date {
    height: fit-content;
    width: fit-content;
    margin: 3rem auto;
    margin-bottom: 1rem;
  }

  .resume-volunteer-list li {
    margin-bottom: 1rem;
    text-align: left;
  }

  .contact {
    height: auto;
    margin: 3rem 0;
    padding: 5rem 0;
  }

  #nav {
    width: 100%;
  }

  #nav li a {
    font-size: 1.3rem;
  }

  #header-title:nth-child(1) {
    font-size: 5rem;
  }

  #back-end-dev-text {
    font-size: 0.8rem;
    width: 17rem;
  }

  #contact-text {
    font-size: 1.8rem;
  }
}
